@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #1f293700;
  /* Tailwind gray-900 */
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: white;
  /* DaisyUI primary purple */
}

/* Firefox */
::-moz-scrollbar {
  width: 7px;
  height: 7px;
}

::-moz-scrollbar-track {
  background-color: #1f293700;
  /* Tailwind gray-900 */
}

::-moz-scrollbar-thumb {
  border-radius: 100px;
  background-color: #7c3aed;
  /* DaisyUI primary purple */
}

/* IE 11+ */
::-ms-scrollbar {
  width: 7px;
  height: 7px;
}

::-ms-scrollbar-track {
  background-color: #1f293700;
  /* Tailwind gray-900 */
}

::-ms-scrollbar-thumb {
  border-radius: 100px;
  background-color: #7c3aed;
  /* DaisyUI primary purple */
}

@font-face {
  font-family: f1;
  src: url(/fonts/Lexend.ttf);
}

@font-face {
  font-family: f2;
  src: url(/fonts/Pacifico-Regular.ttf);
}

.f {
  font-family: f2;
}

body {
  font-family: f1;
}

.fp-watermark {
  display: none !important;
}

.welcome-text {
  font-family: f2 !important;
  @apply !text-white
}


.welcome-text {
  @apply font-bold text-4xl text-white tracking-widest relative w-max ease-in-out duration-300 hover:scale-110 cursor-pointer;
}

.stack::after {
  content: "My Stack";
  @apply top-1 left-1 text-purple-500 -z-10 absolute w-max text-transparent bg-clip-text bg-gradient-to-r from-[#fb0094] via-[blue] to-[red]
}

.blockxxx div {
  background: linear-gradient(0deg, #000, #181818);
  
  @apply bg-white h-full w-full rounded-full relative
}

.blockxxx:before,
.blockxxx:after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #fb0094, #0000ff, #ff0000, #fb0094,
      #0000ff, #ff0000);
  background-size: 400%;
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  z-index: -1;
  animation: steam 40s ease-in-out infinite;
  @apply top-0 rounded-full
}

.x:before,
.x:after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #fb0094, #0000ff, #ff0000, #fb0094,
      #0000ff, #ff0000);
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  animation: steam 70s ease-in-out infinite;
  @apply rounded-lg
}

.x {
  position: relative;
}

.blockx {
  position: relative;
  scale: 1.1;
}

.blockx .div {
  background: linear-gradient(0deg, #000, #272727);
}

.blockxx div {
  background: linear-gradient(0deg, #000, #181818);
}

.x div {
  background: linear-gradient(0deg, #000, #181818);
}

.blockx:before,
.blockx:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #ff0000, #fb0094,
      #0000ff, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 70s ease-in-out infinite;
  @apply rounded-xl
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.blockx:after {
  filter: blur(30px);
}

.blockxxx:after {
  filter: blur(30px);
}

.x:after {
  filter: blur(30px);
}


.image-container {
  display: flex;
  white-space: nowrap;
  animation: scrollLeft 40s linear infinite;
  /* Adjust the animation duration as needed */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(50%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(50%);
  }
}

.stack {
  @apply relative mr-3 opacity-50 text-5xl -tracking-[1px]  cursor-pointer;
}

.stack::after {
  content: "01";
  @apply top-1 left-1 text-purple-500 -z-10 absolute w-max text-transparent bg-clip-text bg-gradient-to-r from-[#fb0094] via-[blue] to-[red]
}

.light-text{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent;
}